/* Gambetta */
@font-face {
  font-family: 'Gambetta';
  src: url('//cdn.fontshare.com/wf/UZPXFLPCL3LPXEMLR5DTVJKV74OXXAV4/6OFIA3NPHGHWKE52SKZL7EQ4WH22JUMB/ODDSCHC7OZCRRQJDJV5LMJKTGF7URFO4.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/UZPXFLPCL3LPXEMLR5DTVJKV74OXXAV4/6OFIA3NPHGHWKE52SKZL7EQ4WH22JUMB/ODDSCHC7OZCRRQJDJV5LMJKTGF7URFO4.woff') format('woff'),
       url('//cdn.fontshare.com/wf/UZPXFLPCL3LPXEMLR5DTVJKV74OXXAV4/6OFIA3NPHGHWKE52SKZL7EQ4WH22JUMB/ODDSCHC7OZCRRQJDJV5LMJKTGF7URFO4.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Gambetta';
  src: url('//cdn.fontshare.com/wf/LTP7L3IV35TGGKXISPM35MXAMA7PX7BF/JOULNGXDDVVIJYXX35DI2FQJG2H4EOGJ/UMQTMTAEPCAFNEJDVEURBIXJENGOHOWO.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/LTP7L3IV35TGGKXISPM35MXAMA7PX7BF/JOULNGXDDVVIJYXX35DI2FQJG2H4EOGJ/UMQTMTAEPCAFNEJDVEURBIXJENGOHOWO.woff') format('woff'),
       url('//cdn.fontshare.com/wf/LTP7L3IV35TGGKXISPM35MXAMA7PX7BF/JOULNGXDDVVIJYXX35DI2FQJG2H4EOGJ/UMQTMTAEPCAFNEJDVEURBIXJENGOHOWO.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Gambetta';
  src: url('//cdn.fontshare.com/wf/65DOO47KPW62HT2XE74NDRJWHMMD66TW/5PVPZKX2K4M6LDOCQUGGRQ7DLAVNXB2D/6KRVTMHEY26GBVOWXYL6F3ZLGUXE5ZD5.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/65DOO47KPW62HT2XE74NDRJWHMMD66TW/5PVPZKX2K4M6LDOCQUGGRQ7DLAVNXB2D/6KRVTMHEY26GBVOWXYL6F3ZLGUXE5ZD5.woff') format('woff'),
       url('//cdn.fontshare.com/wf/65DOO47KPW62HT2XE74NDRJWHMMD66TW/5PVPZKX2K4M6LDOCQUGGRQ7DLAVNXB2D/6KRVTMHEY26GBVOWXYL6F3ZLGUXE5ZD5.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Gambetta';
  src: url('//cdn.fontshare.com/wf/WOIRGZ7T5ERZLQWEZC5Y5LLHOCZXTMCM/R2YNHTDIDGFZLQWUMMIJSSFU2CUMQYZ5/RMBKFTS6UFOXVBCL3EVCXLWRQBA3PN4K.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/WOIRGZ7T5ERZLQWEZC5Y5LLHOCZXTMCM/R2YNHTDIDGFZLQWUMMIJSSFU2CUMQYZ5/RMBKFTS6UFOXVBCL3EVCXLWRQBA3PN4K.woff') format('woff'),
       url('//cdn.fontshare.com/wf/WOIRGZ7T5ERZLQWEZC5Y5LLHOCZXTMCM/R2YNHTDIDGFZLQWUMMIJSSFU2CUMQYZ5/RMBKFTS6UFOXVBCL3EVCXLWRQBA3PN4K.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Gambetta';
  src: url('//cdn.fontshare.com/wf/KF6223JOZFTD7NR7IMVECSOT3R43BE2B/TQPO7YGAI6O7DJGTUUZNDSZCZ45HM7AA/5ZRASRUCHEY46ZB6T6A2OKXSW5JB4C5M.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/KF6223JOZFTD7NR7IMVECSOT3R43BE2B/TQPO7YGAI6O7DJGTUUZNDSZCZ45HM7AA/5ZRASRUCHEY46ZB6T6A2OKXSW5JB4C5M.woff') format('woff'),
       url('//cdn.fontshare.com/wf/KF6223JOZFTD7NR7IMVECSOT3R43BE2B/TQPO7YGAI6O7DJGTUUZNDSZCZ45HM7AA/5ZRASRUCHEY46ZB6T6A2OKXSW5JB4C5M.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Gambetta';
  src: url('//cdn.fontshare.com/wf/PMNFESIVGZWELXBWOE4KEOW2HBZUTWQK/IPHBCP7PJIACKJKIVZ6R55WWL3JC7SGF/ZMIMUE36RZIMFJ34AVWZRQQEWM54OFWG.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/PMNFESIVGZWELXBWOE4KEOW2HBZUTWQK/IPHBCP7PJIACKJKIVZ6R55WWL3JC7SGF/ZMIMUE36RZIMFJ34AVWZRQQEWM54OFWG.woff') format('woff'),
       url('//cdn.fontshare.com/wf/PMNFESIVGZWELXBWOE4KEOW2HBZUTWQK/IPHBCP7PJIACKJKIVZ6R55WWL3JC7SGF/ZMIMUE36RZIMFJ34AVWZRQQEWM54OFWG.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: italic;
}

/* Switzer */
@font-face {
  font-family: 'Switzer';
  src: url('//cdn.fontshare.com/wf/EW5HJEX6O4L64XUWQA2XU7Q6BZ3B4JA4/ZWUP4SQYHHMMSS5LFHFFBX6DXL7C3DTU/H5EOHLIZH5K7IZK6SGYJI75L4KV6FUO7.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/EW5HJEX6O4L64XUWQA2XU7Q6BZ3B4JA4/ZWUP4SQYHHMMSS5LFHFFBX6DXL7C3DTU/H5EOHLIZH5K7IZK6SGYJI75L4KV6FUO7.woff') format('woff'),
       url('//cdn.fontshare.com/wf/EW5HJEX6O4L64XUWQA2XU7Q6BZ3B4JA4/ZWUP4SQYHHMMSS5LFHFFBX6DXL7C3DTU/H5EOHLIZH5K7IZK6SGYJI75L4KV6FUO7.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer';
  src: url('//cdn.fontshare.com/wf/BLNB4FAQFNK56DWWNF7PMGTCOTZHOEII/ST3WKSSDMBK2MIQQO3MAVYWLF4FTOLFV/6IN5WOLRCYP4G4MOCOHOMXNON6Q7MDAR.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/BLNB4FAQFNK56DWWNF7PMGTCOTZHOEII/ST3WKSSDMBK2MIQQO3MAVYWLF4FTOLFV/6IN5WOLRCYP4G4MOCOHOMXNON6Q7MDAR.woff') format('woff'),
       url('//cdn.fontshare.com/wf/BLNB4FAQFNK56DWWNF7PMGTCOTZHOEII/ST3WKSSDMBK2MIQQO3MAVYWLF4FTOLFV/6IN5WOLRCYP4G4MOCOHOMXNON6Q7MDAR.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer';
  src: url('//cdn.fontshare.com/wf/OYB4CXKJQXKTNSLJMTDQOIVUL2V5EL7S/WYO2P7DQVV5RNXGMCUO2HL4RJP4VFUAS/6XPIMU23OJVRY676OG5YVJMWEHWICATX.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/OYB4CXKJQXKTNSLJMTDQOIVUL2V5EL7S/WYO2P7DQVV5RNXGMCUO2HL4RJP4VFUAS/6XPIMU23OJVRY676OG5YVJMWEHWICATX.woff') format('woff'),
       url('//cdn.fontshare.com/wf/OYB4CXKJQXKTNSLJMTDQOIVUL2V5EL7S/WYO2P7DQVV5RNXGMCUO2HL4RJP4VFUAS/6XPIMU23OJVRY676OG5YVJMWEHWICATX.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer';
  src: url('//cdn.fontshare.com/wf/5SZVFDB7V52TI6ULVC6J3WQZQCIZVDV5/ODYPSTCUDMKSTYIPTV4CLQ7URIK7XYBJ/YS3VPNVO4B3TOJMEXDGFZQ4TLZGGSRZC.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/5SZVFDB7V52TI6ULVC6J3WQZQCIZVDV5/ODYPSTCUDMKSTYIPTV4CLQ7URIK7XYBJ/YS3VPNVO4B3TOJMEXDGFZQ4TLZGGSRZC.woff') format('woff'),
       url('//cdn.fontshare.com/wf/5SZVFDB7V52TI6ULVC6J3WQZQCIZVDV5/ODYPSTCUDMKSTYIPTV4CLQ7URIK7XYBJ/YS3VPNVO4B3TOJMEXDGFZQ4TLZGGSRZC.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer';
  src: url('//cdn.fontshare.com/wf/HBNTRIISA5MEXGL5WPYI7CV2HIWTDV3Q/YDPDINVT673XLXNSTMLG4JNCZZMVVNPN/Y7SCNZJOT2MW5ADSGOFLDGH4TNL4JCQY.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/HBNTRIISA5MEXGL5WPYI7CV2HIWTDV3Q/YDPDINVT673XLXNSTMLG4JNCZZMVVNPN/Y7SCNZJOT2MW5ADSGOFLDGH4TNL4JCQY.woff') format('woff'),
       url('//cdn.fontshare.com/wf/HBNTRIISA5MEXGL5WPYI7CV2HIWTDV3Q/YDPDINVT673XLXNSTMLG4JNCZZMVVNPN/Y7SCNZJOT2MW5ADSGOFLDGH4TNL4JCQY.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


